* {
  margin: 20;
  padding: 20;
}

.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: grey;
}

#criar-tarefa, #remover-finalizados {
  background-color: blue;
  color: white;
}

#apaga-tudo, #remover-selecionado {
  background-color: darkred;
  color: white;
}

#mover-cima, #mover-baixo {
  background-color: orange;
  color: white
}

#salvar-tarefas {
  background-color: green;
  color: white;
}
